*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
.header{
  font-family: "consolas";
  height: 72px;
  background: #fff;
  box-shadow: 0 10px 20px -5px rgba(0,0,0,0.1);
  overflow: hidden;
  margin-bottom: 40px;
}
.header h1{
  line-height: 72px;
  font-size: 40px;
}
.content p{
  margin-bottom: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
.content p label{
  width: 60px;
}
.content p textarea{
  padding: 10px;
  width: calc(100% - 60px);
  height: 180px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
}
.content .button_row{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
}
.content p button{
  border: none;
  background: #00bfff;
  color: #fff;
  padding: 15px 55px;
  border-radius: 3px;
  box-shadow: 0 5px 20px -4px rgba(0,191,255,0.3);
  cursor: pointer;
}
.content p button:active{
  box-shadow: none;
  background: #f00;
}